* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  flex: 1;
  margin-bottom: 5px;
}
.content2 {
  flex: 1;
  background: #d9534f;
}

.content2 img {
  width: 100%;
  height: 55vh;
}

.dateCreated {
  margin-left: 5px;
  color: #ffc107;
}

.App {
  text-align: center;
}

div a {
  color: black;
  text-decoration: none;
}

div span {
  color: black;
  text-decoration: none;
}

.checked {
  margin-left: 1rem;
  color: green;
}

.unchecked {
  margin-left: 1rem;
  color: red;
}

div button {
  margin-left: 1rem;
}

.categoryTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 400;
  color: #ffc107;
}

.margin {
  margin-top: 1rem;
}

a {
  cursor: pointer;
}
span {
  cursor: pointer;
}

.header__container,
.footer__container {
  width: 100%;
  height: 20vh;
  background-color: #26a65b;
  display: flex;
  justify-content: center;
}

#categoryContainer {
  display: flex;
}

#categoryContainer a {
  align-self: center;
}

#categoryContainer span {
  align-self: center;
}

#categoryContainer div {
  margin-left: auto;
}

#todosContainer {
  display: flex;
}

#todosContainer .text {
  align-self: center;
}

#todosContainer .buttons {
  margin-left: auto;
}

@import url(https://fonts.googleapis.com/css?family=Arvo);

h1,
h2 {
  font-family: "Arvo";
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

h1,
h2,
.dateCreated,
.categoryTitle,
.btn.btn-warning {
  color: #d5ad6d; /*if no support for background-clip*/

  background: linear-gradient(transparent, transparent),
    linear-gradient(
      to bottom,
      rgba(213, 173, 109, 1) 0%,
      rgba(213, 173, 109, 1) 26%,
      rgba(226, 186, 120, 1) 35%,
      rgba(163, 126, 67, 1) 45%,
      rgba(145, 112, 59, 1) 61%,
      rgba(213, 173, 109, 1) 100%
    );
  background: -o-linear-gradient(transparent, transparent);
  background-clip: text;
  text-fill-color: transparent;
}

.header__container h1,
.footer__container h1 {
  align-self: center;
}
